@media screen and (max-device-width: 650px){
    .footer{
        opacity: 0;
    }
}
@media screen  and (min-device-width: 650px){

}

.footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
}